@model Message.Entity.ViewEntity.UserInfo.PersonalInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />
</head>
<body>
    <form class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-col-md3 layui-col-xs12 user_right">
            <div class="layui-upload-list">
                <input type="hidden" id="Uid" name="Uid" value="@Model.Uid" />
                <img src="@Model.sAvatar" class="layui-upload-img layui-circle userFaceBtn userAvatar" id="userFace">
            </div>
            <button type="button" class="layui-btn layui-btn-primary userFaceBtn"><i class="layui-icon">&#xe67c;</i>上传头像</button>
        </div>
        <table style="text-align:center;border-collapse:separate; border-spacing:0px 10px;">
            <tr>
                <td style="width:200px;">登录名:</td>
                <td style="width:500px;"><input type="text" value="@Model.SloginName" name="SloginName" id="SloginName" disabled class="layui-input layui-disabled"></td>
            </tr>
            <tr>
                <td style="width:200px;">用户名:</td>
                <td style="width:500px;"><input type="text" value="@Model.SuserName" name="SuserName" id="SuserName" placeholder="请输入真实姓名" lay-verify="required" class="layui-input realName"></td>
            </tr>
            <tr>
                <td>手机号:</td>
                <td><input type="tel" value="@Model.SuserPhone" name="SuserPhone" id="SuserPhone" placeholder="请输入手机号码" lay-verify="phone" class="layui-input userPhone"></td>
            </tr>
            <tr>
                <td>邮箱:</td>
                <td><input type="tel" value="@Model.SuserEmail" name="SuserEmail" id="SuserEmail" placeholder="请输入电子邮箱" lay-verify="email" class="layui-input userPhone"></td>
            </tr>
            <tr>
                <td>旧密码:</td>
                <td><input type="password" value="" name="SoldPassWord" id="SoldPassWord" placeholder="请输入旧密码" class="layui-input"></td>
            </tr>
            <tr>
                <td>新密码:</td>
                <td><input type="password" name="SnewPassWord" id="SnewPassWord" placeholder="请输入新密码" class="layui-input"></td>
            </tr>
            <tr>
                <td>确认密码:</td>
                <td><input type="password" name="SconfirmPassWord" id="SconfirmPassWord" placeholder="确认新密码" class="layui-input"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button lay-filter="btnSubmit" lay-submit="" id="btnSubmit" class="layui-btn"><i class="layui-icon">&#xe605;</i>提交</button>
                    <button type="reset" class="layui-btn"><i class="layui-icon layui-icon-delete"></i>重置</button>
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/Admin/UserInfo/PersonalInfo.js?_=@DateTime.Now.ToString(" yyyyMMddHHmmss")"></script>
    @*<script type="text/javascript" src="~/Admin/UserInfo/PersonalInfo.js"></script>*@

</body>
</html>
