@using Message.Entity.Mapping
@using Message.Entity.ViewEntity.TableFiled;

@{
    ViewData["Title"] = "详情";
    List<ViewTableFiled>
    lstViewTableFiled = ViewBag.lstTableFiled;
    DataBase entityDatabase = ViewBag.entityDataBase;
    DataTable entityDataTable = ViewBag.entityDataTable;
}
<div>
    @if (entityDatabase != null && entityDataTable != null)
    {
        <h1>数据库:@entityDatabase.SdataBaseName</h1>
        <h1>表名:@entityDataTable.StableName</h1>
    }
</div>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">列</li>
        <li>Mapping</li>
        <li>AddOrModify</li>
        <li>IRepository</li>
        <li>Repository</li>
        <li>baseRepository</li>
        <li>IService</li>
        <li>Service</li>
        <li>Controller</li>
        <li>Index.cshtml</li>
        <li>Index.js</li>
        <li>AddOrModify.cshtml</li>
        <li>AddOrModify.js</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th>列名</th>
                        <th>说明</th>
                        <th>类型</th>
                        <th>是否为空</th>
                        <th>长度</th>
                        <th>备注</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>修改人</th>
                        <th>修改时间</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstViewTableFiled.Any())
                    {
                        foreach (ViewTableFiled entityViewTableFiled in lstViewTableFiled)
                        {
                            <tr>
                                <td>@entityViewTableFiled.SfiledName</td>
                                <td>@entityViewTableFiled.Sexplain</td>
                                <td>@entityViewTableFiled.StypeName</td>
                                <td>@entityViewTableFiled.BisEmpty</td>
                                <td>@entityViewTableFiled.ImaxLength</td>
                                <td>@entityViewTableFiled.Sremarks</td>
                                <td>@entityViewTableFiled.Screater</td>
                                <td>@entityViewTableFiled.TcreateTime.ToString()</td>
                                <td>@entityViewTableFiled.Smodifier</td>
                                <td>@entityViewTableFiled.TmodifyTime.ToString()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:@(entityDataTable.StableName + ".cs")</h3><button type="button" id="btnCopyMapingCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="MappingCode">@await Html.PartialAsync("MappingTemplate",lstViewTableFiled)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:@("AddOrModify" + entityDataTable.StableName + ".cs")</h3><button type="button" id="btnCopyAddOrModifyCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="AddOrModifyCode">@await Html.PartialAsync("AddOrModifyTemplate",lstViewTableFiled)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:@("I" + entityDataTable.StableName + "Repository.cs")</h3><button type="button" id="btnCopyIRepositoryCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="IRepositoryCode">@await Html.PartialAsync("IRepositoryTemplate",entityDataTable)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:@(entityDataTable.StableName + "Repository.cs")</h3><button type="button" id="btnCopyRepositoryCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="RepositoryCode">@await Html.PartialAsync("RepositoryTemplate",entityDataTable)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:@(entityDataTable.StableName + "Repository.base.cs")</h3><button type="button" id="btnCopyBaseRepositoryCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="BaseRepositoryCode">@await Html.PartialAsync("BaseRepositoryTemplate",lstViewTableFiled)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:@("I" + entityDataTable.StableName + "Service.cs")</h3><button type="button" id="btnCopyIServiceCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="IServiceCode">@await Html.PartialAsync("IServiceTemplate",entityDataTable)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:@(entityDataTable.StableName + "Service.cs")</h3><button type="button" id="btnCopyServiceCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="ServiceCode">@await Html.PartialAsync("ServiceTemplate",entityDataTable)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:@(entityDataTable.StableName + "Controller.cs")</h3><button type="button" id="btnCopyControllerCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="ControllerCode">@await Html.PartialAsync("ControllerTemplate",entityDataTable)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:Index.cshtml</h3><button type="button" id="btnCopyIndex_HtmlCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="Index_HtmlCode">@await Html.PartialAsync("Index_HtmlTemplate",lstViewTableFiled)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:Index.js</h3><button type="button" id="btnCopyIndex_JsCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="Index_JsCode">@await Html.PartialAsync("Index_JsTemplate",lstViewTableFiled)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:AddOrModify.cshtml</h3><button type="button" id="btnCopyAddOrModifyhtmlCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="AddOrModifyhtmlCode">@await Html.PartialAsync("AddOrModifyhtmlTemplate",lstViewTableFiled)</textarea>
            }
        </div>
        <div class="layui-tab-item">
            @if (entityDataTable != null)
            {
                <h3>文件名:Index.js</h3><button type="button" id="btnCopyAddOrModifyjsCode" class="layui-btn layui-btn-xs">复制</button>
                <textarea class="layui-textarea" style="height:800px" id="AddOrModifyjsCode">@await Html.PartialAsync("AddOrModifyjsTemplate",lstViewTableFiled)</textarea>
            }
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/layui/layui.js"></script>
    @*<script type="text/javascript" src="~/Admin/TableFiled/TableInfo.js?_=@DateTime.Now.ToString(" yyyyMMddHHmmss")"></script>*@
    <script src="~/Admin/TableFiled/TableInfo.js"></script>
}

